<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Product Store{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <h1>Mini E-commerce Store</h1>
    <nav>
        <a href="{{ url_for('product_list') }}">Products</a>
        <a href="{{ url_for('add_product') }}">Add product</a>
    </nav>
</header>

<main>
    {% block content %}
    <p>Default content.</p>
    {% endblock %}
</main>


</body>
</html>
